<div>
    <h2>Kurser</h2>
    <form>
        <label for="search">Sök:</label>
        <input type="text" name="search" id="search">
    </form>
    <table>
        <thead>
            <tr>
                <td id="kurskodTd">Kurskod</td>
                <td id="namnTd">Namn</td>
                <td id="progressionTd">Progression</td>
            </tr>
        </thead>
        <tbody id="kurs-list" *ngFor="let course of courses">
            <tr>
                <td id="kurskodTd"> {{ course.code }}</td>
                <td id="namnTd">{{ course.coursename }}</td>
                <td id="progressionTd">{{ course.progression }}</td>
            </tr>
        </tbody>
    </table>
</div>